* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.App {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100vw;
  height: 55px;
  background-color: #c3cfd9;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
}

header h1 {
  font-size: 34px;
  color: #e8833a;
}

main {
  display: flex;
  flex: 1;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  margin-top: 55px;
}

.title {
  font-size: 24px;
  color: #293845;
  height: 90px;
  display: flex;
  align-items: center;
}

.movie-list {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 6%;
}

.movie {
  width: 145px;
  height: 209px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px;
}

.movie img {
  width: 129px;
  height: 193px;
}

.movie-sessions {
  width: 100%;
}

.session {
  margin: 0 24px 20px;
}

.session h2 {
  font-size: 20px;
  margin-bottom: 25px;
}

button {
  height: 42px;
  margin-right: 8px;
  background-color: #e8833a;
  border: none;
  color: #ffffff;
  font-size: 18px;
  border-radius: 3px;
  padding: 0 15px;
}

.choose-seats {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 150px;
}

.seat-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 240px;
  width: 95%;
}

.seat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  background-color: #c3cfd9;
  border: 1px solid #808f9d;
  border-radius: 50%;
  font-size: 12px;
  margin-right: 5px;
  flex: 0 0 8%;
}

.seat:nth-child(10n) {
  margin-right: 0px;
}

.seat.selected {
  background-color: #8dd7cf;
}

.seat.occupied {
  background-color: #fbe192;
}

.examples {
  width: 100%;
  display: flex;
  font-size: 13px;
  justify-content: space-around;
}

.examples .seat {
  margin: 0 auto;
}

.examples p {
  margin: 10px 0;
}
.buyer-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 18px;
  margin: 20px 0;
}

.buyer-details .name,
.buyer-details .cpf {
  width: 90%;
  margin: 7px 0;
}

.buyer-details input {
  width: 100%;
  height: 50px;
  border: 1px solid #d4d4d4;
  padding-left: 8px;
  font-size: 18px;
  margin-top: 5px;
  border-radius: 3px;
}

.buyer-details input::placeholder {
  color: #afafaf;
}

.reserve-seats {
  height: 50px;
  width: 60%;
}

.chosen-session {
  display: flex;
  flex: 0 1 80px;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #dfe6ed;
  display: flex;
  padding: 14px;
  border-top: 1px solid #9eadba;
}

.chosen-session .poster {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89px;
  width: 64px;
  background-color: #ffffff;
  border-radius: 3px;
}

.chosen-session img {
  width: 48px;
  height: s;
}

.session-details p {
  margin: 15px;
  font-size: 20px;
  color: #293845;
}

.success {
  color: #247a6b;
  font-weight: bold;
}

.order-details {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.details {
  font-size: 22px;
  color: #293845;
  margin: 20px;
  line-height: 25px;
}

.details h2 {
  font-weight: bold;
  margin-bottom: 10px;
}
